/* color */
.top-to-bottom {
  overflow: hidden;
}
.top-to-bottom > .children {
  opacity: 0;
  transition: 1s cubic-bezier(0.215, 0.61, 0.355, 1);
  transform: translateY(-100%);
  display: block;
}
.top-to-bottom.start > .children {
  opacity: 1;
  transform: translateY(0);
}

.bottom-to-top {
  overflow: hidden;
}
.bottom-to-top > .children {
  opacity: 0;
  transition: 1s cubic-bezier(0.215, 0.61, 0.355, 1);
  transform: translateY(100%);
  display: block;
}
.bottom-to-top.start > .children {
  opacity: 1;
  transform: translateY(0);
}

.left-to-right {
  overflow: hidden;
}
.left-to-right > .children {
  opacity: 0;
  transition: 1.2s cubic-bezier(0.17, 0.67, 0.3, 1.33);
  transform: skewX(-30deg) translateX(-100%);
  display: block;
}
.left-to-right.start > .children {
  opacity: 1;
  transform: skewX(0) translateX(0);
}

.right-to-left {
  overflow: hidden;
}
.right-to-left > .children {
  opacity: 0;
  transition: 1.2s cubic-bezier(0.17, 0.67, 0.3, 1.33);
  transform: skewX(30deg) translateX(100%);
  display: block;
}
.right-to-left.start > .children {
  opacity: 1;
  transform: skewX(0) translateX(0);
}

.scale-full > .children {
  display: block;
  transition: transform 1s cubic-bezier(0.17, 0.67, 0.3, 1.33);
  transform: scale(0);
}
.scale-full.start > .children {
  transform: scale(1);
}

.left-to-right-x2, .right-to-left-x2 {
  opacity: 0;
  transition: 0.8s cubic-bezier(0.17, 0.67, 0.3, 1.33);
}
.left-to-right-x2.start, .right-to-left-x2.start {
  opacity: 1;
  transform: translateX(0);
}

.left-to-right-x2 {
  transform: translateX(-200%);
}

.right-to-left-x2 {
  transform: translateX(200%);
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -2rem;
}
@media screen and (max-width: 600px) {
  .row {
    margin-left: 0;
  }
}

[class*=col-] {
  margin-left: 2rem;
  margin-bottom: 2rem;
}

.col-1 {
  width: calc(8.3333333333% - 2rem);
}

.col-2 {
  width: calc(16.6666666667% - 2rem);
}

.col-3 {
  width: calc(25% - 2rem);
}

.col-4 {
  width: calc(33.3333333333% - 2rem);
}

.col-5 {
  width: calc(41.6666666667% - 2rem);
}

.col-6 {
  width: calc(50% - 2rem);
}

.col-7 {
  width: calc(58.3333333333% - 2rem);
}

.col-8 {
  width: calc(66.6666666667% - 2rem);
}

.col-9 {
  width: calc(75% - 2rem);
}

.col-10 {
  width: calc(83.3333333333% - 2rem);
}

.col-11 {
  width: calc(91.6666666667% - 2rem);
}

.col-12 {
  width: calc(100% - 2rem);
}

@media screen and (max-width: 1000px) {
  .col-md-1 {
    width: calc(8.3333333333% - 2rem);
  }
}
@media screen and (max-width: 1000px) {
  .col-md-2 {
    width: calc(16.6666666667% - 2rem);
  }
}
@media screen and (max-width: 1000px) {
  .col-md-3 {
    width: calc(25% - 2rem);
  }
}
@media screen and (max-width: 1000px) {
  .col-md-4 {
    width: calc(33.3333333333% - 2rem);
  }
}
@media screen and (max-width: 1000px) {
  .col-md-5 {
    width: calc(41.6666666667% - 2rem);
  }
}
@media screen and (max-width: 1000px) {
  .col-md-6 {
    width: calc(50% - 2rem);
  }
}
@media screen and (max-width: 1000px) {
  .col-md-7 {
    width: calc(58.3333333333% - 2rem);
  }
}
@media screen and (max-width: 1000px) {
  .col-md-8 {
    width: calc(66.6666666667% - 2rem);
  }
}
@media screen and (max-width: 1000px) {
  .col-md-9 {
    width: calc(75% - 2rem);
  }
}
@media screen and (max-width: 1000px) {
  .col-md-10 {
    width: calc(83.3333333333% - 2rem);
  }
}
@media screen and (max-width: 1000px) {
  .col-md-11 {
    width: calc(91.6666666667% - 2rem);
  }
}
@media screen and (max-width: 1000px) {
  .col-md-12 {
    width: calc(100% - 2rem);
  }
}
@media screen and (max-width: 600px) {
  .col-sm-1 {
    width: calc(8.3333333333% - 2rem);
  }
}
@media screen and (max-width: 600px) {
  .col-sm-2 {
    width: calc(16.6666666667% - 2rem);
  }
}
@media screen and (max-width: 600px) {
  .col-sm-3 {
    width: calc(25% - 2rem);
  }
}
@media screen and (max-width: 600px) {
  .col-sm-4 {
    width: calc(33.3333333333% - 2rem);
  }
}
@media screen and (max-width: 600px) {
  .col-sm-5 {
    width: calc(41.6666666667% - 2rem);
  }
}
@media screen and (max-width: 600px) {
  .col-sm-6 {
    width: calc(50% - 2rem);
  }
}
@media screen and (max-width: 600px) {
  .col-sm-7 {
    width: calc(58.3333333333% - 2rem);
  }
}
@media screen and (max-width: 600px) {
  .col-sm-8 {
    width: calc(66.6666666667% - 2rem);
  }
}
@media screen and (max-width: 600px) {
  .col-sm-9 {
    width: calc(75% - 2rem);
  }
}
@media screen and (max-width: 600px) {
  .col-sm-10 {
    width: calc(83.3333333333% - 2rem);
  }
}
@media screen and (max-width: 600px) {
  .col-sm-11 {
    width: calc(91.6666666667% - 2rem);
  }
}
@media screen and (max-width: 600px) {
  .col-sm-12 {
    width: calc(100% - 2rem);
  }
}
/* 1/12 * 12  */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
@media screen and (max-width: 1599px) {
  html {
    font-size: 45%;
  }
}

body {
  overflow-x: hidden;
  color: #4B4F51;
  font-size: 1.8rem;
  font-family: "Gelasio", serif;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: unset;
}

ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

.wrapper {
  max-width: 1920px;
  margin: auto;
}

.container {
  width: 100%;
  max-width: 146rem;
  padding: 0 15px;
  margin: auto;
}

.section {
  position: relative;
  margin-bottom: 14rem;
  z-index: 1000;
}

.title {
  font-size: 5rem;
  line-height: 1.2;
  font-weight: 700;
  font-family: "Red Hat Display", sans-serif;
  color: #035755;
}

.covid-19 {
  font-size: 2.9rem;
  color: #F44A45;
  font-family: "Red Hat Display", sans-serif;
  font-weight: 700;
  line-height: 1.24;
  display: inline-block;
}

.btn {
  display: inline-flex !important;
  justify-content: center;
  align-items: center;
  padding: 1.6rem 4.5rem;
  font-size: 1.8rem;
  font-weight: 500;
  background-color: transparent;
  transition: 0.3s ease;
  border-radius: 4.6rem;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.btn.btn-outlined-info {
  border: 2px solid #1a73e8;
  color: #1a73e8;
}
.btn.btn-outlined-primary {
  border: 2px solid #F44A45;
  color: #F44A45;
}
.btn.btn-contained-info {
  background-color: #1a73e8;
}
.btn.btn-contained-primary {
  background-color: #F44A45;
}
.btn.btn-bg-opacity-info {
  color: #1a73e8;
  background-color: rgba(26, 115, 232, 0.15);
}
.btn.btn-bg-opacity-primary {
  color: #F44A45;
  background-color: rgba(244, 74, 69, 0.15);
}
.btn[class*=btn-contained-] {
  color: white;
}

.textOverflow-line-1 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}

@media screen and (max-width: 1000px) {
  .title {
    font-size: 4rem;
  }

  .section {
    margin-bottom: 10rem;
  }

  .covid-19 {
    font-size: 2.5rem;
  }
}
.header {
  display: flex;
  align-items: center;
  height: 130px;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 9999;
  transition: 0.5s ease-in;
}
.header-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-left {
  display: flex;
  align-items: center;
}
.header-left > span {
  margin-left: 1.4rem;
  color: #035755;
  font-size: 1.9rem;
  line-height: 1.3;
  font-weight: 700;
  font-family: "Red Hat Display", sans-serif;
}
.header-right {
  display: flex;
  align-items: center;
}
.header-logo {
  width: 60px;
  height: 60px;
}
.header-menu {
  display: flex;
  align-items: center;
  transition: ease-in-out 0.5s;
}
.header-menu-item {
  cursor: pointer;
  line-height: 1.2;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: ease 0.3s;
}
.header-menu-item > span {
  display: inline-block;
  transition: 0.5s ease-in;
}
.header-menu-item + .header-menu-item {
  margin-left: 4rem;
}
.header-menu-item.active {
  color: #F44A45;
}
.header-menu .close-menu {
  display: none;
  position: absolute;
  color: white;
  font-size: 4.5rem;
  top: 2rem;
  right: 3rem;
  cursor: pointer;
  transition: ease 0.3s;
}
.header-menu .close-menu:hover > i {
  color: rgba(255, 255, 255, 0.8);
  transform: scale(1.1);
}
.header-btn {
  margin-left: 4rem;
}
.header .open-menu {
  align-items: center;
  justify-content: center;
  display: none;
  font-size: 4rem;
  color: #F44A45;
  cursor: pointer;
}
.header.header-shirk {
  height: 110px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  background-color: white;
}
@media screen and (max-width: 1000px) {
  .header .open-menu {
    display: flex;
  }
  .header-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #F44A45;
    z-index: 99999;
    flex-direction: column;
    padding: 7rem 0;
    transition: transform 0.5s ease-in;
    transform: translateY(-100%);
  }
  .header-menu-item {
    padding: 1.6rem;
    font-size: 2.5rem;
    color: white;
    width: 100%;
    margin: 1rem 0 !important;
    font-family: 500;
  }
  .header-menu-item.active {
    background-color: white;
  }
  .header-menu .close-menu {
    display: block;
  }
  .header-menu.active {
    transform: translateY(0);
  }
}
@media screen and (max-width: 600px) {
  .header-btn {
    display: none !important;
  }
}

.hero {
  display: flex;
  align-items: center;
  margin-top: 130px;
}
.hero-content {
  width: 100%;
  max-width: 64rem;
  flex-shrink: 0;
}
.hero-content > span {
  font-size: 3.2rem;
  font-weight: 700;
  color: #F44A45;
  line-height: 1.2;
  font-family: "Red Hat Display", sans-serif;
}
.hero-heading {
  font-size: 5.2rem;
  font-family: 700;
  line-height: 1.39;
  color: #035755;
  margin-bottom: 3rem;
}
.hero-desc {
  font-size: 2.4rem;
  line-height: 1.9;
  margin-bottom: 5rem;
}
.hero-media {
  width: 100%;
  max-width: 117.5rem;
  position: relative;
  flex-shrink: 0;
  transform: translateX(-6rem);
  overflow: hidden;
}
.hero-media > div {
  position: relative;
  width: 100%;
  padding-top: 64%;
}
.hero-media > div > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
@media screen and (max-width: 1000px) {
  .hero {
    margin-top: calc(130px + 5rem);
  }
  .hero-media {
    width: 40%;
    max-width: 100%;
    transform: none;
  }
  .hero-content {
    flex: 1;
  }
  .hero-content > span {
    font-size: 2.5rem;
  }
  .hero-desc {
    font-size: 2rem;
  }
  .hero-heading {
    font-size: 4rem;
  }
}
@media screen and (max-width: 600px) {
  .hero {
    flex-direction: column-reverse;
  }
  .hero-media, .hero-content {
    width: 100%;
    max-width: 100%;
  }
  .hero-content {
    margin-top: 3rem;
    text-align: center;
  }
}

.about {
  display: flex;
  align-items: center;
}
.about-media {
  width: 100%;
  max-width: 84rem;
  transform: translateX(-15rem) rotate(-10deg);
  position: relative;
  overflow: hidden;
  z-index: 10;
}
.about-media > div {
  position: relative;
  width: 100%;
  padding-top: 95%;
}
.about-media > div img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.about-content {
  width: 100%;
  max-width: 64rem;
  position: relative;
  z-index: 10;
}
.about-desc {
  margin-top: 1.8rem;
  font-size: 2rem;
  line-height: 2.15;
  color: #4B4F51;
}
.about-btn {
  font-weight: 600;
  font-size: 2rem;
  margin-top: 7.5rem;
}
.about-virus-1 {
  position: absolute;
  right: 0;
  bottom: 8rem;
  width: 29rem;
  height: 29rem;
  transform: translateX(50%);
  z-index: 1;
}
.about-virus-2 {
  position: absolute;
  right: 10rem;
  bottom: 0;
  width: 13rem;
  height: 13rem;
  z-index: 1;
}
.about-virus-1 > object, .about-virus-2 > object {
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 1000px) {
  .about-media, .about-content {
    max-width: 100%;
    width: 50%;
  }
  .about-media {
    transform: translateX(-5rem) rotate(-10deg);
  }
  .about-desc {
    font-size: 1.8rem;
  }
  .about-virus-1 {
    width: 20rem;
    height: 20rem;
    transform: translateX(45%);
  }
  .about-virus-2 {
    width: 10rem;
    height: 10rem;
    right: 4rem;
    z-index: 1;
  }
}
@media screen and (max-width: 600px) {
  .about {
    flex-direction: column;
  }
  .about-media, .about-content {
    width: 100%;
    max-width: 100%;
  }
  .about-media {
    transform: none;
  }
  .about-content {
    text-align: center;
  }
  .about-virus-1 {
    width: 15rem;
    height: 15rem;
  }
  .about-virus-2 {
    width: 8rem;
    height: 8rem;
    right: 2rem;
    z-index: 1;
  }
  .about-btn {
    margin-top: 3rem;
  }
}

.contagion {
  position: relative;
}
.contagion-top {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 10rem;
}
.contagion-top > p {
  max-width: 57rem;
  margin-top: 3rem;
  line-height: 2.15;
  width: 100%;
  text-align: center;
}
.contagion-main {
  position: relative;
  z-index: 2;
}
.contagion-item {
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  box-shadow: 0 3px 10px 0px rgba(0, 0, 0, 0.5);
  padding: 5rem 0 7rem 0;
  cursor: pointer;
  background-color: white;
  height: 100%;
}
.contagion-item-media {
  position: relative;
  width: 100%;
  padding-top: 60%;
}
.contagion-item-media img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  object-fit: contain;
}
.contagion-item-content {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  padding: 0 5rem;
  text-align: center;
}
.contagion-item-title {
  font-size: 3.6rem;
  color: #035755;
  font-weight: 500;
  line-height: 1.47;
  margin-bottom: 1.5rem;
}
.contagion-item-desc {
  line-height: 1.85;
}
.contagion-virus {
  position: absolute;
  width: 25rem;
  height: 25rem;
  left: 0;
  bottom: 3rem;
  transform: translateX(-50%);
  z-index: 1;
}
.contagion-virus > object {
  height: 100%;
  width: 100%;
}
@media screen and (max-width: 1000px) {
  .contagion-top {
    margin-bottom: 5rem;
  }
  .contagion-item {
    padding: 3rem 0 4rem 0;
  }
  .contagion-item-title {
    font-size: 2.8rem;
  }
}

.symptomps {
  position: relative;
}
.symptomps-top {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  width: 100%;
  max-width: 71rem;
  margin: auto;
}
.symptomps-title {
  margin-bottom: 3rem;
}
.symptomps-media {
  width: 100%;
  max-width: 116.5rem;
  margin: auto;
  position: relative;
  z-index: 10;
}
.symptomps-media > div {
  width: 100%;
  position: relative;
  padding-top: 75%;
}
.symptomps-media > div img {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  left: 0;
  object-fit: contain;
}
.symptomps-path-1 {
  position: absolute;
  left: -11rem;
  width: 13rem;
  height: 13.5rem;
  bottom: 15rem;
}
.symptomps-path-2 {
  position: absolute;
  right: -9.8rem;
  width: 22rem;
  height: 15rem;
  bottom: -2rem;
}
.symptomps-path-1 > object, .symptomps-path-2 > object {
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 1000px) {
  .symptomps-path-1, .symptomps-path-2 {
    display: none;
  }
}

.advice-top {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  width: 100%;
  max-width: 65rem;
  margin: auto;
  margin-bottom: 7rem;
}
.advice-title {
  margin-bottom: 3rem;
}
.advice-item {
  display: flex;
  align-items: center;
}
.advice-item-media {
  position: relative;
  width: 100%;
  max-width: 55rem;
  height: 57rem;
  flex-shrink: 0;
}
.advice-item-media > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.advice-item-content {
  width: 100%;
  max-width: 65rem;
  margin: auto;
  display: flex;
  align-items: center;
}
.advice-item-content-left {
  align-self: flex-start;
  width: 7.5rem;
  height: 7.5rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: relative;
  font-size: 4rem;
  color: #F44A45;
  margin-right: 5rem;
  font-family: "Red Hat Display", sans-serif;
}
.advice-item-content-left::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: currentColor;
  opacity: 0.15;
  border-radius: inherit;
}
.advice-item-content-right {
  flex: 1;
}
.advice-item-title {
  font-size: 4.7rem;
  font-weight: 500;
  line-height: 1.46;
  margin-bottom: 2rem;
}
.advice-item-desc {
  line-height: 2.1;
}
.advice-item:nth-child(odd) {
  flex-direction: row-reverse;
}
@media screen and (max-width: 1000px) {
  .advice-item {
    flex-direction: column !important;
  }
  .advice-item-content {
    max-width: 100%;
  }
  .advice-item + .advice-item {
    margin-top: 3rem;
  }
}

.footer-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-logo {
  width: 60px;
  height: 60px;
}
.footer-socials {
  display: flex;
  align-items: center;
}
.footer-socials-item {
  display: inline-flex;
  font-size: 22px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.footer-socials-item + .footer-socials-item {
  margin-left: 4rem;
}
.footer-socials-item:nth-child(1) {
  color: #0084ff;
}
.footer-socials-item:nth-child(2) {
  color: #ff0000;
}
.footer-socials-item:nth-child(4) {
  color: #1d9bf0;
}

.select {
  min-width: 350px;
  border-radius: 10px;
  background-color: white;
}
.select-options {
  list-style: none;
  display: flex;
  flex-direction: column;
}
.select-option {
  width: 100%;
  padding: 2rem 0;
}

.live-reports-title {
  text-align: center;
  margin-bottom: 5rem;
}
.live-reports-chart .count {
  display: flex;
  align-items: center;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0px 7px 95px rgba(0, 0, 0, 0.07);
  padding: 1rem;
  cursor: pointer;
  transition: 0.3s ease-in;
}
.live-reports-chart .count:hover {
  transform: translateY(-5px);
}
.live-reports-chart .count-info {
  flex: 1;
  min-width: 0;
}
.live-reports-chart .count-title {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
  font-family: "Red Hat Display", sans-serif;
  color: #4B4F51;
}
.live-reports-chart .count-total {
  font-size: 2.5rem;
  font-weight: 500;
  font-family: "Red Hat Display", sans-serif;
}
.live-reports-chart .count-icon {
  width: 7rem;
  height: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  border-radius: 50%;
  position: relative;
  margin-right: 1.5rem;
  flex-shrink: 0;
}
.live-reports-chart .count-icon::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: currentColor;
  border-radius: inherit;
  opacity: 0.15;
}
.live-reports-chart .count-confirmed {
  color: #F44A45;
}
.live-reports-chart .count-recovered {
  color: #28a745;
}
.live-reports-chart .count-death {
  color: #6c757d;
}
.live-reports .country {
  padding: 1rem 3rem;
}
.live-reports .country-actions {
  display: flex;
  align-items: center;
  height: 40px;
}
.live-reports .country-actions > input {
  flex: 1;
  height: 100%;
  outline: 0;
  padding: 5px 8px;
  border-radius: 5px;
  color: #4B4F51;
  border-width: 1px;
  cursor: text;
}
.live-reports .country-arrows {
  margin-left: 1rem;
  height: 100%;
}
.live-reports .country-arrows > span {
  height: 100%;
  width: 40px;
  font-size: 3rem;
  padding: 0;
  border-radius: 5px;
  border-width: 1px;
}
.live-reports .country-selected {
  margin: 2rem 0 5rem 0;
  display: flex !important;
  border-radius: 10px;
  font-size: 1.8rem;
  font-weight: 700;
}
.live-reports .country-list-item {
  width: 100%;
}
.live-reports .country-list-item ul {
  display: flex;
  flex-direction: column;
}
.live-reports .country-list-item ul > li {
  padding: 1.6rem;
  cursor: pointer;
  border-radius: 10px;
  margin: 0.5rem;
  font-size: 2rem;
}
.live-reports .country-list-item ul > li.active {
  background-color: #F44A45;
  color: white;
}
.live-reports .chart > p {
  font-size: 2.5rem;
  margin: 3rem 0 4rem 0;
  padding-left: 2rem;
}
.live-reports .country-wrap {
  margin: auto;
}

/*# sourceMappingURL=index.css.map */
