
$tablet-size:1000px;
$mobile-size:600px;
$header-height:130px;
$header-height-shirk:110px;


/* color */
$primary-color:#F44A45;
$text-color:#4B4F51;
$title-color:#035755;
$gray-color:#A2A5B2;
$succes-color:#28a745;
$danger-color:#dc3545;
$disable-color:#6c757d;
$info-color:#1a73e8;
