.contagion {
  position: relative;
  &-top {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 10rem;
    & > p {
      max-width: 57rem;
      margin-top: 3rem;
      line-height: 2.15;
      width: 100%;
      text-align: center;
    }
  }
  &-main {
    position: relative;
    z-index: 2;
  }
  &-item {
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    box-shadow: 0 3px 10px 0px rgba(0,0,0,0.5);
    padding: 5rem 0 7rem 0;
    cursor: pointer;
    background-color: white;
    height: 100%;
    &-media {
      position: relative;
      width: 100%;
      padding-top: 60%;
      img {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        height: 100%;
        transform: translate(-50%,-50%);
        object-fit: contain;
      }
    }
    &-content {
      margin-top: 2rem;
      display: flex;
      flex-direction: column;
      padding: 0 5rem;
      text-align: center;
    }
    &-title {
      font-size: 3.6rem;
      color: $title-color;
      font-weight: 500;
      line-height: 1.47;
      margin-bottom: 1.5rem;
    }
    &-desc {
      line-height: 1.85;
    }
  }

  &-virus {
    position: absolute;
    width: 25rem;
    height: 25rem;
    left: 0;
    bottom: 3rem;
    transform: translateX(-50%);
    z-index: 1;
    & > object{
      height: 100%;
      width: 100%;
    }
  }

  @include tablet {
    &-top {
      margin-bottom: 5rem;
    }
    &-item {
      padding: 3rem 0 4rem 0;
      &-title {
        font-size: 2.8rem;
      }
    }
  }
}