.footer {
  &-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &-logo {
    width: 60px;
    height: 60px;
  }
  &-socials {
    display: flex;
    align-items: center;
    &-item {
      display: inline-flex;
      font-size: 22px;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      & + & {
        margin-left: 4rem;
      }
      &:nth-child(1){
        color: #0084ff;
      }
      &:nth-child(2){
        color: #ff0000;
      }
      &:nth-child(4){
        color: #1d9bf0;
      }
    }
  }
}